@import '~bootstrap/scss/bootstrap';

@import './navbar.scss';

$previewPadding: 10px;

.container.custom-container {
    min-height: 100%;
    padding-top: calc(56px + 20px);

    @include media-breakpoint-up(md) {
        padding-top: calc(72px + 20px);
    }
}

.positions-list,
.steps-list {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;
}

.positions-list .position-preview,
.steps-list .step-preview {
    flex: 0 0 100%;
    padding: $previewPadding 0;
    box-sizing: border-box;
}

@include media-breakpoint-up(sm) {
    .positions-list .position-preview,
    .steps-list .step-preview {
        flex: 0 0 50%;
        padding: $previewPadding;
    }

    .positions-list .position-preview:nth-child(2n + 1),
    .steps-list .step-preview:nth-child(2n + 1) {
        padding-left: 0;
    }

    .positions-list .position-preview:nth-child(2n),
    .steps-list .step-preview:nth-child(2n) {
        padding-right: 0;
    }
}

@include media-breakpoint-up(md) {
    .positions-list .position-preview,
    .steps-list .step-preview {
        flex: 0 0 25%;
    }

    .positions-list .position-preview:nth-child(2n + 1),
    .steps-list .step-preview:nth-child(2n + 1) {
        padding-left: $previewPadding;
    }

    .positions-list .position-preview:nth-child(2n),
    .steps-list .step-preview:nth-child(2n) {
        padding-right: $previewPadding;
    }

    .positions-list .position-preview:nth-child(4n + 1),
    .steps-list .step-preview:nth-child(4n + 1) {
        padding-left: 0;
    }

    .positions-list .position-preview:nth-child(4n),
    .steps-list .step-preview:nth-child(4n) {
        padding-right: 0;
    }
}

.no-results-found {
    margin-top: 10px;
}

.video-resource {
    display: block;
    margin: auto;
    max-height: 600px;
    max-width: 600px;
    width: 100%;
    margin-bottom: 20px;
}

.image-resource {
    max-width: 100%;
    margin: auto;
    display: block;
}
